* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #0a0a10;
  justify-content: center;
}
.blur {
  width: 467px;
  height: 618px;
  margin-left: 25px;
  position: absolute;
  z-index: -1; /* posiciona por tras da imagem*/
  background-color: #ebd704;
  opacity: 0.25;
  filter: blur(24px);
}
img {
  width: 463px;
  height: 574px;
  margin-left: 25px;
  display: inline-block;
}

main {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
  gap: 12px; /*espaçamento entre os elementos so pode ser usado se for display flex */
}
h1 {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 33px;
  margin-bottom: 34px;
  text-align: center;
  max-height: 50px;
  color: #a9940a;
  font-family: "Oswald", sans-serif;
}

.container-inputs {
  display: inline-block;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 50px;
  width: 351px;
}

label {
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: -0.4px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 4px;
  margin-left: 4px;
}

input {
  width: 100%;
  height: 42px;
  margin-bottom: 8px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.24px;
  color: #ffffff;
  padding-left: 4px;
}

input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.24px;
  color: #ffffff;
}
.bnt-login {
  margin-top: 20px;
  width: 200px;
  height: 58px;
  background: #770101;
  font-weight: 900;
  font-size: 17px;
  line-height: 2px;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: 0.3s ease; /*deixa a transição do hover mais lenta*/
}

.bnt-login:hover {
  opacity: 0.8;
  cursor: pointer;
}
.bnt-login:active {
  opacity: 0.6;
  cursor: pointer;
}

i {
  font-weight: 900;
  font-size: 22px;
  line-height: 2px;
}

.container-link {
  position: relative;
  margin-top: 20px;
}

.esquceuSenha {
  position: relative;
  margin-top: 20px;
}

a {
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 2555, 0.6);
  text-decoration: none; /*decoraçaõ do texto*/
}

a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background: #d93859;
  bottom: -3px;
  left: 0;
  transition: 0.3s ease;
}

a:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background: #d93859;
  bottom: -3px;
  left: 0;
}

span {
  color: #ffffff;
}

@media screen and (max-width: 430px) {
  body {
    max-width: 430px;
  }

  img {
    width: 100%;
    height: 449px;
  }
  .blur {
    height: 488px;
  }
  h1 {
    font-size: 35px;
    line-height: 36px;
  }
  .container-inputs {
    align-items: center;
    justify-content: center;
  }
}
